*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body 
{
    background: radial-gradient(circle at center, #2281ee, #e8eb4d, #2281ee, #e8eb4d);
    background-size: 300% 300%; 
    animation: radialGradientAnimation 15s ease-in-out infinite;
    height: 100vh;
}

/* Keyframes for radial gradient animation */
@keyframes radialGradientAnimation {
    0% { background-position: 50% 50%; }
    50% { background-position: 60% 60%; } 
    100% { background-position: 50% 50%; }
}